rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dailyEntrySheets/{date} {
      allow read, write: if true;
      match /rows/{rowId} {
        allow read, write: if true;
      }
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
